* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    width: 100%;
    position: relative;

    .hamburger-menu-links-container {
        background-color: rgb(15, 15, 15);
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 100%;

        .hamburger-menu-exit-container {
            width: 100%;
            height: 40px;
            background-color: black;
            border-bottom: 1px solid rgb(48, 48, 48);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            top: 0;

            .hamburger-menu-exit-button-container {
                height: 30px;
                width: 30px;
                margin-right: 30px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                
                .hamburger-menu-exit-button {
                    transform: rotate(45deg);
                    height: 2px;
                    width: 20px;
                    background-color: white;
                    position: absolute;
                }
                
                .hamburger-menu-exit-button::after {
                    content: "";
                    transform: rotate(90deg);
                    height: 2px;
                    width: 20px;
                    background-color: white;
                    position: absolute;
                }
            }
        }

        .hamburger-links-container {
            height: 40%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .hamburger-navigation-links {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
                list-style-type: none;

                li {
                    font-family: sans-serif;
                    font-size: 19px;

                    a {
                        text-decoration: none;
                        color: white;
                    }

                    a:hover, a:active {
                        transition: .1s linear all;
                        color: red;
                    }
                }
            }
        }
    }

    .hamburger-menu-links-container.slide-in {
        animation: right-to-left .4s ease-out forwards;
    }
    
    .hamburger-menu-links-container.slide-out {
        animation: left-to-right .4s ease-out forwards;
    }

    .navigation-section {
        background-color: black;
        position: fixed;
        top: 0;
        border-bottom: 1px solid rgb(48, 48, 48);
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .navigation-bar-container {
            height: 30px;
            width: 1200px;
            max-width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
            .navigation-bar {
                height: 100%;
    
                .navigation-links {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    list-style-type: none;
                    
                    a {
                        margin: 0px 35px;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: white;
                        font-family: sans-serif;
                        letter-spacing: 2px;
                        font-size: 15px;
                    }
    
                    a:hover {
                        transition: .2s linear all;
                        color: red;
                    }
                    
                    
                }
            }
        }

        .navigation-hamburger-menu-container {
            display: none;
            height: 30px;
            width: 30px;
            margin-right: 30px;
            position: relative;
            cursor: pointer;

            .hamburger-menu {
                height: 2px;
                width: 20px;
                background-color: white;
            }
            
            .hamburger-menu::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 20px;
                background-color: white;
                transform: translateY(7px);
            }
            
            .hamburger-menu::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 20px;
                background-color: white;
                transform: translateY(-7px);
            }
            
            
        }
    }
    
    .full-portfolio-container {
        width: 1200px;
        max-width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .introduction-container {
            height: 500px;
            width: 1200px;
            max-width: 100%;
            max-height: 100%;
            background-color: rgb(15, 15, 15);
            margin: 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .introduction-container-left {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                .introduction-text-container {
                    height: 250px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
    
                    p {
                        margin-left: 90px;
                        font-size: 50px;
                        font-family: sans-serif;
                        color: white;
    
                        .introduction-text-name {
                            color: red;
                        }
                    }
                }
    
                .introduction-call-to-action-container {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
    
                    .call-to-action-container {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-left: 50px;
    
                        a {
                            margin-left: 40px;
                            color: red;
                            transition: .1s all linear;
                        }

                        a:hover {
                            color: white;
                        }
                    }
                }
            }
            
            .introduction-container-right {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
    
                .introduction-image-container {
                    width: 70%;
                    padding: 2em 0 1em 0;
                    
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        border: 1.5px solid red;
                        border-radius: 50%;
                    }
                }
            }
        }
    
        .portfolio-container {
            width: 1200px;
            max-width: 100%;
            background-color: rgb(15, 15, 15);
            margin: 20px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
    
            .portfolio-container-title {
                font-family: sans-serif;
                font-size: 40px;
                text-align: center;
                font-weight: 200;
                letter-spacing: 1px;
                text-decoration: underline;
                color: white;
                padding: 1em 0;
    
                .portfolio-title-text {
                    color: red;
                }
            }
    
            .portfolio-projects-container {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                padding: 1.5em 0;
    
                .project-containers {
                    height: 85%;
                    width: 95%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0px;
    
                    .project-container-left {
                        height: 100%;
                        width: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .project-image-container {
                            height: 70%;
                            width: 90%;
                            border: 1px solid black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    
                    .project-container-right {
                        height: 100%;
                        width: 60%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        .project-description-container {
                            width: 95%;
                            border: 1px solid black;
                            display: flex;
                            justify-content: space-around;
                            align-items: flex-start;
                            flex-direction: column;
                            background-color: rgb(26, 26, 26);
                            border: 2px solid rgb(48, 48, 48);
                            color: white;
                            
                            .project-title {
                                font-family: sans-serif;
                                font-size: 35px;
                                margin-left: 20px;
                                padding: .5em 0;
                            }
    
                            .project-description {
                                margin-left: 20px;
                                width: 90%;
                                font-family: sans-serif;
                                line-height: 25px;
                                font-size: 17px;
                                padding: .5em 0;

                            }
    
                            .project-call-to-action-container {
                                list-style: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                li {
                                    margin-left: 20px;
                                    font-family: sans-serif;
                                    padding: .5em 0 1em;

                                    a {
                                        color: red;
                                        text-decoration: none;
                                    }
    
                                    a:hover {
                                        transition: .1s linear all;
                                        color: white;
                                    }
                                }
                            }
    
                        }
                    }
                }
            }
        }
    
        .about-me-container {
            width: 1200px;
            max-width: 100%;
            background-color: rgb(15, 15, 15);
            margin: 20px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            
            .about-me-container-title {
                font-family: sans-serif;
                font-size: 40px;
                text-align: center;
                font-weight: 200;
                letter-spacing: 1px;
                text-decoration: underline;
                color: white;
                padding: 1em 0;
    
                .about-me-text {
                    color: red;
                }
            }
    
            .about-me-context-container {
                height: 85%;
                width: 95%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.5em 0;
    
                .about-me-container-left {
                    height: 100%;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .about-me-image-container {
                        height: 60%;
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 2em;
    
                        .about-me-image {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                
                .about-me-container-right {
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .about-me-description {
                        width: 100%;
                        font-family: sans-serif;
                        line-height: 25px;
                        font-size: 17px;
                        text-align: justify;
                        background-color: rgb(26, 26, 26);
                        border: 2px solid rgb(48, 48, 48);
                        color: white;
                        padding: 10px;
                    }
                }
            }
        }
    
        .skills-container {
            width: 1200px;
            max-width: 100%;
            background-color: rgb(15, 15, 15);
            margin: 20px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding-bottom: 1.5em;
    
            .skills-container-title {
                font-family: sans-serif;
                font-size: 40px;
                text-align: center;
                font-weight: 200;
                letter-spacing: 1px;
                text-decoration: underline;
                color: white;
                padding: 1em 0;
    
                .skills-text {
                    color: red;
                }
            }
    
            .front-end-skills-container {
                width: 95%;
                background-color: rgb(26, 26, 26);
                border: 2px solid rgb(48, 48, 48);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 5px;
                gap: 10px;
                
    
                .skills-containers {
                    margin: 0px 35px;
                    width: 5%;
                    padding: .5em 0;
    
                    .skills-names {
                        font-family: sans-serif;
                        margin-top: 10px;
                        font-weight: 300;
                        font-size: 18px;
                    }
                }
    
                .skill-container-1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-1 {
                        height: 50px;
                    }
                }
    
                .skill-container-2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-2 {
                        height: 50px;
                    }
                }
    
                .skill-container-3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-3 {
                        height: 50px;
                    }
                }
    
                .skill-container-4 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-4 {
                        height: 50px;
                    }
                }
    
                .skill-container-5 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-5 {
                        height: 50px;
                    }
                }
    
                .skill-container-6 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-6 {
                        height: 50px;
                    }
                }
    
                .skill-container-7 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .skill-icon-7 {
                        height: 50px;
                    }
                }
            }
        }
    
        .contact-container {
            height: 430px;
            width: 1200px;
            max-width: 100%;
            background-color: rgb(15, 15, 15);
            margin: 20px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
    
            .contact-container-title {
                font-family: sans-serif;
                font-size: 40px;
                text-align: center;
                font-weight: 200;
                letter-spacing: 1px;
                text-decoration: underline;
                color: white;
    
                .contact-title-text {
                    color: red;
                }
            }
    
            .contact-form-container {
                height: 75%;
                width: 95%;
                display: flex;
                justify-content: space-around;
                align-items: center;
    
                .contact {
                    height: 100%;
                    width: 95%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    .contact-form {
                        height: 100%;
                        width: 95%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
    
                        .contact-email {
                            height: 10%;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
    
                            .email-input {
                                width: 100%;
                                font-size: 17px;
                                padding: 0px 2px;
                                border: 2px solid rgb(48, 48, 48);
                            }
                        }
    
                        .contact-information {
                            width: 100%;
                            font-family: sans-serif;
                            font-size: 17px;
                            padding: 2px;
                            border: 2px solid rgb(48, 48, 48);
                        }
    
                        .contact-submit-button {
                            height: 25px;
                            width: 30%;
                            font-family: sans-serif;
                            font-size: 15px;
                            border: solid black 2px;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .introduction-container {
        height: 700px !important;
        flex-direction: column !important;

        .introduction-container-left {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            width: 95% !important;

            .introduction-text-container {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                width: 95% !important;

                p {
                    margin: 0 !important;
                }
            }

            .introduction-call-to-action-container {
                width: auto !important;
            }

            .call-to-action-container {
                margin: 0 !important;

                a {
                    margin-left: 0 !important;
                    margin: 0px 25px !important;
                }
            }
        }

        .introduction-container-right {
            width: 100% !important;
        }

        .introduction-image-container {
            width: 340px !important;
        }

    }
}

@media (max-width: 880px) {

    .about-me-container {
        
        .about-me-context-container {
            flex-direction: column !important;

            .about-me-container-left {
                width: 90% !important;
            }

            .about-me-container-right {
                width: 95% !important; 
            }
        }
    }

    .project-containers {
        flex-direction: column !important;

        .project-container-left {
            width: 100% !important;
            padding-bottom: 1.5em;

            .project-images {
                width: 95% !important;
            }
        }

        .project-container-right {
            width: 95% !important;
        }
    }

    .introduction-text-container {
        p {
            margin-left: 50px !important;
        }
    }

    .call-to-action-container {
        margin-left: 10px !important;
    }
}

@media (max-width: 680px) {
    .navigation-bar {
        display: none;
    }

    .navigation-hamburger-menu-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        
    }
}

@media (max-width: 460px) {
    .introduction-text-container {
        p {
            font-size: 39px !important;
        }
    }
}

@media (max-width: 400px) {
    .project-description-container {
        align-items: center !important;
    }

    .project-title {
        text-align: center !important;
        margin: 0 !important;
    }

    .project-description {
        text-align: justify !important;
        margin: 0 !important;
    }

    .project-call-to-action-container {
        align-self: flex-start !important;
    }
}

@keyframes right-to-left {
    100% {
        left: 0%;
    }
}

@keyframes left-to-right {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}